<div>Create your own league with teams and players</div>

<form method="POST" id="myForm" action="/sport/createSoccerTeam">
  League Name: <input type="text" name="leagueName"><br>
  Team Name: <input type="text" name="teamName"><br>
  Add Player: <input type="text" name="playerName"><br>
  <input type="submit" value="Submit">
</form>
<button>Create a league</button>
<button>Add a team to existing league</button>
<div>View all leagues and teams:</div> <!--Initially show all leagues with teams and players OR nothing-->
<!--Then have drop down menu with all leagues with option to add league
     then teams in league with opetion to add, then players on team with option to add(Maybe remove too)-->
    <form method="POST" id="myForm" action="/sport/createSoccerLeague"></form>
        <select id="league" name="league">
            {{#if leagues}}
            {{#each leagues}}
                <option value="{{leagueName}}">{{leagueName}}</option>
            {{/each}}
        </select>
        <input type="submit" value="submit">
    </form>
            {{else}}
    <form method="POST" id="myForm" action="/sport/createSoccerTeam"></form>
        <select id="team" name="team">
            {{#if teamArr}}
            <div>Choose a team from the {{leagueChosen}}</div>
            {{#each teamArr}}
                <option value="{{teamName}}">{{teamName}}</option>
            {{/each}}
        </select>
        <input type="submit" value="submit">
    </form>
            {{else}}
    <form method="POST" id="myForm" action="/sport/createSoccerPlayer"></form>
        <select id="team" name="team">
            {{#if playerArr}}
            <div>Choose a player from {{teamChosen}}</div>
            {{#each playerArr}}
                <option value="{{playerName}}">{{playerName}}</option>
            {{/each}}
            {{/if}}
        </select>
        <input type="submit" value="submit">
    </form>
<div>Teams:</div>
{{#each leagues}}
    <ul>
        <li>League Name: {{leagueName}}</li>
        {{#each teamArr}}
        <ul>
            <li>Team Name: {{teamName}}</li>
            {{#each playerArr}}
            <ul>
                <li>Player Name: {{playerName}}</li>
            </ul>
            {{/each}}
        </ul>
        {{/each}}
    </ul>
{{/each}}